* {
  box-sizing: border-box;
  text-decoration: none;
}

/*----colors----*/
/*----urls----*/
.btn-action {
  height: 48px;
  width: 160px;
  border: none;
  border-radius: 2px;
  background-color: #3040C4;
  font-size: 18px;
  color: white;
  font-weight: 700;
}

.btn-description {
  height: 48px;
  width: 160px;
  border: none;
  border-radius: 2px;
  color: #3040C4;
  font-size: 18px;
  background-color: white;
  font-weight: 700;
}

/*header*/
.header {
  margin: auto;
  background-color: white;
  display: flex;
  width: 100%;
  height: 64px;
}
.header__button {
  display: none;
}
.header__menu-button {
  width: 58px;
  margin-left: auto;
  background: none;
  border: none;
  border-left: 1px solid #2B292D26;
}

.logo {
  display: flex;
}
.logo__img {
  margin: auto;
  margin-left: 15px;
  margin-right: 13px;
  height: 48px;
  width: 48px;
  border-radius: 14px;
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo__description {
  display: none;
}

.navigation {
  display: none;
}

@media screen and (min-width: 500px) {
  .header {
    background: none;
    margin: auto;
    display: flex;
    width: 1140px;
    height: 62px;
  }
  .header__button {
    margin-left: 56px;
    display: inline-block;
  }
  .header__menu-button {
    display: none;
  }

  .logo {
    display: flex;
  }
  .logo__img {
    margin-right: 15px;
    height: 60px;
    width: 60px;
    border-radius: 14px;
  }
  .logo__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logo__name {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
  }
  .logo__description {
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    opacity: 0.6;
  }

  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
  }
  .navigation__item {
    margin-right: 50px;
    text-decoration: none;
    color: #2B292D;
  }
  .navigation__item-selected {
    font-weight: 700;
  }
  .navigation__item-last {
    margin-right: 0px;
  }
  .navigation__drop-down {
    margin-left: 11px;
    display: inline-block;
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png");
    height: 5px;
    width: 8px;
  }
}
/*footer*/
.footer {
  margin: auto;
  margin-bottom: 0;
  width: 100%;
}
.footer__line {
  border-top: 1px solid #2B292D;
  opacity: 0.1;
}
.footer__text {
  color: #2B292D99;
  opacity: 0.6;
  margin-top: 26px;
  height: 85px;
  width: 360px;
  font-size: 18px;
  line-height: 26px;
}

.footer-downloads {
  display: flex;
  margin-top: 25px;
  margin-bottom: 59px;
}
.footer-downloads__ios {
  margin-right: 10px;
  height: 40px;
  width: 135px;
}
.footer-downloads__android {
  height: 40px;
  width: 135px;
}

.footer-description {
  margin-left: 129px;
  margin-right: 126px;
  width: 360px;
  height: 236px;
}

.footer-navigation {
  display: flex;
  height: 338px;
  width: 1140px;
  margin-right: auto;
  padding-top: 44px;
  padding-bottom: 59px;
}

.extra-nav {
  width: 265px;
  padding-top: 16px;
}

.footer-products-label {
  margin-bottom: 18px;
  line-height: 28px;
  font-size: 22px;
  font-weight: 700;
}

.footer-products {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
}

.footer-product {
  font-size: 18px;
  line-height: 28px;
  color: #2B292D99;
  opacity: 0.6;
}

.extra-nav-second {
  margin-left: 29px;
}

.footer-links {
  width: 1140px;
  height: 50px;
  line-height: 50px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.social-links {
  margin-left: auto;
}
.social-links__link {
  margin-left: 20px;
}
.social-links__fb {
  width: 18px;
  height: 17px;
}
.social-links__linkedin {
  width: 18px;
  height: 17px;
}
.social-links__twitter {
  width: 21px;
  height: 16px;
}

.terms {
  font-size: 14;
}
.terms__item {
  margin-right: 22px;
  text-decoration: none;
  color: #2B292D;
  opacity: 60%;
}

.headline {
  padding-top: 35px;
  width: 100vw;
}
.headline__title {
  width: 290px;
  height: 205px;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin: auto;
  letter-spacing: -0.31px;
}
.headline__description {
  margin: auto;
  margin-top: 24px;
  height: 172px;
  width: 290px;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 30px;
}
.headline__actions {
  display: flex;
  flex-direction: column;
}
.headline__banner {
  position: relative;
}
.headline__banner-img {
  width: 100%;
  margin-top: 33px;
  margin-bottom: 38px;
}

.btn-action-headline {
  margin: auto;
  width: 290px;
}

.btn-description-headline {
  margin: auto;
  margin-top: 15px;
  width: 290px;
}

@media screen and (min-width: 500px) {
  .headline {
    position: relative;
    padding-top: 76px;
    width: 1140px;
    margin: auto;
    height: 533px;
    margin-bottom: 77px;
  }
  .headline__title {
    width: auto;
    height: 165px;
    font-size: 80px;
    font-weight: 700;
    line-height: 78px;
    margin: 0;
    letter-spacing: -0.5px;
  }
  .headline__description {
    margin: 0;
    margin-top: 34px;
    height: 102px;
    width: 456px;
    font-size: 24px;
    line-height: 34px;
  }
  .headline__actions {
    display: block;
    margin-top: 58px;
  }
  .headline__banner {
    position: absolute;
    top: 84px;
    right: -106px;
    z-index: 0;
  }
  .headline__banner-img {
    width: 796px;
    margin: 0px;
  }

  .headline-info {
    z-index: 2;
    position: relative;
    width: 754px;
  }

  .btn-action-headline {
    margin: 0;
    width: 160px;
  }

  .btn-description-headline {
    margin-left: 10px;
    width: 160px;
  }
}
.about {
  background-color: #F4F5F7;
}

.about-container {
  margin: 77px 131px 76px 130px;
  display: flex;
  height: 102px;
  justify-content: space-between;
}

.article {
  width: 555px;
}
.article__title, .article__text {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}
.article__title {
  margin-bottom: 6px;
  font-weight: 700;
}

.customers {
  width: 1140px;
  margin: 30px auto 106px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-mashable {
  filter: brightness(0);
}

.logo-google {
  filter: brightness(0);
}

.features {
  margin-bottom: 103px;
  position: relative;
  height: 602px;
}
.features__subtitle {
  margin: 0;
  line-height: 34px;
  font-size: 22px;
  color: #009B4D;
}
.features__title {
  margin-top: 24px;
  font-size: 56px;
}
.features__paragraph {
  line-height: 32px;
  font-size: 24px;
}
.features__icon {
  height: 24px;
  width: 24px;
}
.features__new {
  display: flex;
  align-items: center;
  height: 28px;
}
.features__new-icon {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}
.features__new-title {
  font-size: 22px;
  height: 26px;
  margin: auto 0;
  color: #3142C6;
}
.features__second-paragraph {
  margin-top: 8px;
  font-size: 18px;
  line-height: 26px;
}
.features__line {
  margin-top: 15px;
  height: 3px;
  background-color: #3142C6;
}
.features__cards {
  margin-top: 20px;
}
.features__card {
  display: flex;
  align-items: center;
}
.features__card-second {
  margin-top: 21px;
}
.features__card-title {
  margin: 0;
  margin-left: 15px;
  font-size: 22px;
  line-height: 26px;
}
.features__cards-line {
  height: 1px;
  margin-top: 22px;
  background-color: #2B292D;
  opacity: 0.15;
}
.features__cards-line-second {
  margin-top: 15px;
}

.features-description {
  width: 462px;
  margin-left: 130px;
}

.hidden-ouch {
  position: absolute;
  top: 258px;
}

.invision-screen {
  position: absolute;
  top: 5px;
  height: 597px;
  width: 686px;
  right: 0;
}

html {
  color: #2B292D;
  font-family: "Work Sans", sans-serif;
}

.page {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.top-section {
  background-color: #F3C6BD;
}

@media screen and (min-width: 500px) {
  .top-section {
    background-color: #F3C6BD;
    padding-top: 39px;
  }

  .page {
    min-height: 100vh;
    width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
