.customers{
    width: 1140px;
    margin:  30px auto 81px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-mashable{
    filter: brightness(0);
}
.logo-google{
    filter: brightness(0);
}