/*footer*/

.footer{
    margin:auto;
    margin-bottom: 0;
    width: 100%;
    &__line{
        border-top: 1px solid $black-color;
        opacity: 0.1;
    }
    &__text{
        color: #2B292D99;
        opacity: 0.6;
        margin-top: 26px;
        height: 85px;
        width: 360px;
        font-size: 18px;
        line-height: 26px;
       
    }
}
.footer-downloads{
    display: flex;
    margin-top: 25px;
    &__ios{
        margin-right: 10px;
         height: 40px;
         width: 135px;
        }
    &__android{
        height: 40px;
         width: 135px;
    }
    margin-bottom: 59px;
    }
.footer-description{
margin-left:129px;
margin-right: 126px;
width: 360px;
height: 236px;
}

.footer-navigation{
    display: flex;
    height: 338px;
    width: 1140px;
    margin-right:auto;
    padding-top: 44px;
    padding-bottom: 59px;

}
.extra-nav{
    width: 265px;
    padding-top: 16px;
}
.footer-products-label{
margin-bottom: 18px;
line-height: 28px;
font-size: 22px;
font-weight: 700;
}
.footer-products{
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    

}
.footer-product{
    font-size: 18px;
    line-height: 28px;
    color: #2B292D99;
    opacity: 0.6;
}
.extra-nav-second{
    margin-left: 29px;
}



.footer-links{
   width:1140px;
   height: 50px;
   line-height: 50px;
   display: flex;
   align-items: center;
   margin:0 auto ;
}
.social-links{
     margin-left: auto;
    &__link{
        margin-left: 20px;
     
    }
    &__fb{
       width: 18px;
       height: 17px;
   }
   &__linkedin{ 
       width: 18px;
       height: 17px;
}
   &__twitter{
       width:21px;
       height: 16px;
   }
}
.terms{
    font-size: 14;
    &__item{
        margin-right:22px;
    text-decoration: none;
    color:$black-color;
    opacity: 60%;
}
}