@import 'variables.scss';
@import 'header.scss';
@import 'footer.scss';
*{
    box-sizing: border-box;
}
html{
    font-family: 'Work Sans', sans-serif;
}
.page{
    min-height: 100vh;
    width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.top-section{
    background-color: $pink-color;
    padding-top: 39px;
}


